@media(screen) and (orientation:portrait){
    .all{
        position: relative;
    }
    .foto{
        position: absolute;
        z-index: 5;
        width: 30vw;
    }   
    
    
}
